* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100vw;
    background-color: crimson;
}

#navbar {
    height: 10vh;
    width: 100vw;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navbar #logo img {
    height: 40px;
}

#navbar #search-bar{
    
}