* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    /* border: 2px solid; */
}

#navbar {
    height: 20vh;
    width: 90vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid; */
    margin: 0 auto;
}

#navbar #logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navbar #logo img {
    height: 40px;
    opacity: .4;
}

#navbar #search-bar {
    display: flex;
    align-items: center;
    background-color: #F6F5FA;
    border-radius: 50px;
    padding: 5px 25px;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#navbar #search-bar i {
    color: gray;
    font-size: 30px;
    padding: 4px 0;
}

#navbar #search-bar .search {
    color: gray;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    opacity: .3;
    font-weight: 700;
    background-color: #F6F5FA;
    border-radius: 50px;
}

#navbar #menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

#navbar #menu img {
    height: 25px;
}

/* Hero section */

#hero {
    /* border: 2px solid; */
    margin-left: 73px;
    height: 73vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}


#hero::-webkit-scrollbar {
    display: none;
}



.col {
    /* border: 2px solid; */
    margin: 10% 0 0 4%;
    height: 70%;
    width: 1%;
    border-radius: 25px;
    display: inline-block;
    position: relative;
}


.col:nth-child(1) {
    height: 60%;
    width: 27%;
    background: linear-gradient(to right top, #FE9B00, #FFD46E);
    box-shadow: 0 5px 80px 0 #ffd675aa;
}

.col:hover {
    scale: 1.1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.col .title {
    font-size: 25px;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.col:nth-child(1) img {
    height: 300px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(2) {
    height: 50%;
    width: 27%;
    background: linear-gradient(to right top, #ff6d05, #ffc8c8);
    box-shadow: 0 5px 80px 0 #ffc8c8b9;
}

.col:nth-child(2) .title {
    position: absolute;
    top: 64%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.col:nth-child(2) img {
    height: 350px;
    position: absolute;
    top: -26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(3) {
    height: 55%;
    width: 27%;
    background: linear-gradient(to right top, #23b0ed, #9ae1ff);
    box-shadow: 0 5px 80px 0 #9ae1ffb8;
}

.col:nth-child(3) .title {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(3) img {
    height: 300px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(4) {
    height: 60%;
    width: 27%;
    background: linear-gradient(to right top, #FF6237, #FF9FC2);
    box-shadow: 0 5px 80px 0 #ff84b1c9;
}

.col:nth-child(4) .title {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(4) img {
    height: 300px;
    position: absolute;
    top: 0;
    left: 70%;
    transform: translate(-50%, -50%);
}

.col:nth-child(5) {
    height: 57%;
    width: 27%;
    background: linear-gradient(to right top, #1A74E6, #2AB7FF);
    box-shadow: 0 5px 80px 0 #6bceffaa;
}

.col:nth-child(5) .title {
    position: absolute;
    top: 72%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.col:nth-child(5) img {
    height: 350px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col:nth-child(6) {
    height: 37%;
    width: 27%;
    background: linear-gradient(to right top, #89551B, #D18C5F);
    box-shadow: 0 5px 80px 0 #d18d5f99;
}

.col:nth-child(6) .title {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.col:nth-child(6) img {
    height: 350px;
    position: absolute;
    top: -60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid; */
}

#footer #socials {
    margin: 10px 15px 0 50px;
}

#footer #socials a {
    font-size: 18px;
    color: gray;
    text-decoration: none;
    margin-left: 80px;
    font-weight: 500;
    opacity: .8;
}

#footer #controls {
    margin-top: 10px;
    margin-right: 60px;
}

#footer #controls a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bolder;
}

#dev {
    margin-top: 10px;
}